@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

html, body {
  min-height: 100vh;
}

body {
  font-family: "Calistoga", serif;
  background: linear-gradient(to bottom,  rgba(252,255,230,1) 0%,rgba(91,140,0,1) 100%);
}

h1 {
  margin-top: 0;
  cursor: pointer;

  span {
    font-size: 3rem;
    color: #7cb305;
    text-shadow: .5px .5px 0 #fff, .5px -.5px 0 #fff, -.5px .5px 0 #fff, -.5px -.5px 0 #fff, .5px 0 0 #fff, 0 .5px 0 #fff, -.5px 0 0 #fff, 0 -.5px 0 #fff, .5px 3px .5px #fff, .5px -3px .5px #fff, -.5px 3px .5px #fff, -.5px -3px .5px #fff, 3px 0 .5px #fff, 0 3px .5px #fff, -3px 0 .5px #fff, 0 -3px .5px #fff;
  }
}

h2 {
  margin-top: 30px;
}

section {
  color: #fff;
  padding-block: 100px 20px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

button {
  padding: 5px 15px;
  border: .5px solid;
  border-radius: 5px;
  color: #fff;

  @media (min-width: 768px) {
    min-width: 150px;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.btn-delete {
  display: block;
  margin: 15px auto;
}

.btn-white {
  font-size: 16px;
  font-weight: bold;
  height: auto;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
}


.btn-container {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.table-container {
  height: 500px;
  overflow-y: scroll;
}

.ant-form-item-explain-error {
  margin-bottom: 20px;
  text-align: right;
}

.rounded-table {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;

  table {
    border-collapse: collapse;

    tbody {
      > tr {
        &:last-child {
          td {
            &:first-child {
              border-end-start-radius: 8px;
            }

            &:last-child {
              border-end-end-radius: 8px;
            }
          }
        }
      }
    }
  }

  .ant-table {
    border-radius: 8px;
  }

  .ant-table-content {
    height: 500px;
    overflow-y: scroll;
  }
}

.lead {
  margin-top: 15px;
  margin-bottom: 0;
}

label {
  font-weight: bold;
  color: #fff !important;
}
